*{
    padding: 0;
    margin: 0;
    
}

.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 10vh;
    background: #070320;
}

.logo{
    width: 65px;
    height: 45px;
}

.log-out{
    width: 35px;
    height: 25px;
}

.side-bar{
    
    position: fixed;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1d1c21;
    padding-top: 35px ;
    padding-left: 35px;
    
}

.side-bar p{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sideBar-items{
   
   display: flex;
   flex-direction: column;
   gap: 20px;
    
}
.sideBar-item{
    padding: 5px;
    width: 50%; 
    display: flex;
    align-items: center;
    
    justify-content: space-around;
}
.sideBar-link{
    color: #fff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item-icon{
    width: 20px;
}

.container{
    background-color: #000000;
    position: fixed;
    left: 19%;
    
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    color: #fff;
    
}

.table{
    
    
    width:60%;
    height: 100%;
    
    position: relative;
    right: 10%;
    top: 20px;
    
}
.table-header {
	display:flex;
	width:100%;
	background:#070320;
    color: #fff;
	padding:12px 0;
}
.table-content {
    overflow-y: scroll;
    max-height: 400px; 
}
.table-row {
	display:flex;
	width:100%;
	padding:7px 0;
	
	
}
.table-row:nth-child(odd) {
    background-color: #1d1c21;
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}